   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       font-family: 'Poppins', sans-serif;
   }

   h3 {
   background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(30, 79, 135) 0%, rgb(0, 117, 255) 100%);
    text-align: center;
    color:#fff;
   }
   
   .region {
       background: #98002E;
       display: flex;
       justify-content: space-between;
       border-radius: 0 0 0 10px;
       height: 30px;
   }
   
   .utilityMenu {
       text-transform: uppercase;
       font-size: 15px;
       padding-left: 0;
   }
   
   .utilityMenu ul {
       display: flex;
       justify-content: space-between;
   }
   
   .utilityMenu ul li {
       padding: 7px 16px 8px 20px;
       position: relative;
       border-radius: 0 0 0 10px;
       font-family: sans-serif;
       list-style: none;
   }
   
   .utilityMenu ul li:hover {
       border-radius: 0 0 0 0px;
   }
   
   .utilityMenu ul li a {
       color: #fff;
       text-decoration: none;
       font-size: 14px;
   }
   
   .utilityMenu ul li a img {
       top: -5px;
       position: relative
   }
   
   .utilityMenu a:hover {
       color: #EDB111
   }
   
   .utilityMenu ul li ul {
       display: none;
       position: absolute;
       top: 100%;
       background: #740426;
       width: 200px;
       z-index: 999;
       left: 0px;
       border-radius: 0 0 10px 10px;
       padding: 17px 0px;
       margin-top: -2px;
   }
   
   .utilityMenu ul li:hover ul {
       display: block;
   }
   
   .utilityMenu ul li ul li {
       width: 200px;
       display: block;
       line-height: 10px;
       text-transform: capitalize;
   }
   
   .utilityMenu ul li:hover ul {
       display: block
   }
   
   .header-top a {
       text-decoration: none;
   }
   
   .header-buttom {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
      
   }
   
   .Profile {
       font-size: 15px;
       font-weight: normal;
       color: #216db9;
       line-height: 18px;
       text-align: left;
   }
   
   .navbar .dropdown-toggle,
   .navbar .dropdown-menu a {
       cursor: pointer;
   }
   
   .navbar .dropdown-item.active,
   .navbar .dropdown-item:active {
       color: inherit;
       text-decoration: none;
       background-color: inherit;
   }
   
   .navbar .dropdown-item:focus,
   .navbar .dropdown-item:hover {
       color: #16181b;
       text-decoration: none;
       background-color: #f8f9fa;
   }
   
   @media (min-width: 767px) {
       .navbar .dropdown-toggle:not(.nav-link)::after {
           display: inline-block;
           width: 0;
           height: 0;
           margin-left: .5em;
           vertical-align: 0;
           border-bottom: .3em solid transparent;
           border-top: .3em solid transparent;
           border-left: .3em solid;
       }
   }
   
   .navbar {
       height: 2.5rem;
       background: blue;
       /* background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%); */
       /* background: linear-gradient(to right, #1eb089 0%, #7c49ab 100%, #7bd9e8 100%) repeat scroll 0 0;
       color: #fff; */
       /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,0,19,0.7794468129048494) 0%, rgba(0,212,255,1) 100%); */
   }
   
   .nav-item:hover {
       background: #0f2f441f;
   }
   
   .nav-item a {
       padding: 10px 2px;
       display: inline-block;
       /* color: #ffffff; */
       font-family: "Raleway", sans-serif;
       font-weight: 700;
       font-size: 15px;
   }
   
   .nav-item ul {
       padding: 10px;
       box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
       background: #fff;
   }
   
   #star ::after {
       content: " ";
       width: 100%;
       height: 2px;
       background: #f44336;
       display: block;
       margin: auto;
   }
   
   .carousel-item {
       height: 32rem;
       background: #777;
       color: white;
       position: relative
   }
   
   .info {
       display: flex;
       justify-content: space-between;
       align-items: stretch;
       /* margin-top: 20px; */
       padding: 5px 20px;
       background-color: #f8f9fa;
       box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
   }
   
   .program {
       width: 100%;
       /* border:1px solid red; */
   }
   
   .program .program-wrap h4 {
       text-align: center;
       text-transform: uppercase;
       font-size: 1.4rem;
       background: #d0ecec;
   }
   
   .info-dtls {
       background-color: #fefefe;
       color: #0e3746;
       /* margin-top: 15px; */
       padding: 10px 20px;
       font-size: 15px;
       line-height: 2rem;
       width: 50%;
   }
   
   .info-dtls a {
       /* padding: 2px 30px; */
       transition: all .3s;
       /* border: 1px solid #be2623; */
       margin-top: 15px;
       color: #be2623;
       text-decoration: none;
   }
   
   .info-dtls a:hover {
       text-decoration: none;
       background-color: transparent;
       color: #be2623;
   }
   
   .information {
       width: 100%;
       height: 300px;
       /* border: 1px solid black; */
       display: flex;
       justify-content: space-around;
   }
   
   .info-box {
       width: 28%;
       height: 280px;
       margin: 20px;
       margin-top: -3px;
       border: 1px solid gray;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       box-sizing: border-box;
       /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
   }
   
   .info-box a:hover {
       color: #e15b3d;
   }
   
   .information h3 {
       background: rgb(2,0,36);
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,49,152,0.7794468129048494) 0%, rgba(0,212,255,1) 100%);
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       font-family: 'Work Sans', sans-serif;
       color: #fff;
       text-align: center;
       text-transform: capitalize;
   }
   
   .view-content ul li {
       font-size: 13px;
       line-height: 1.5rem;
       font-family: ropa sans, sans-serif;
       font-weight: 600;
       cursor: pointer;
   }
   .view-content{
    height: 205px;
    overflow-y:hidden;
   }
   .view-content:hover{
       /* background:black; */
       overflow-y: scroll;
    overflow-x: hidden;
    }
   #scroll-container {
    /* border: 3px solid black;
    border-radius: 5px; */
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    color: #a01b43;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(80%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-80%);
    }
}
   .footer-content {
       height: 50px;
       /* width: 100%; */
       width: 105px;
       padding: 10px;
       margin: 10px 70%;
   }
   
   .footer-content a {
       /* padding: 10px;
    border-radius: 5px; */
       color: #98002e;
       /* float: right; */
       cursor: pointer;
       text-decoration: none;
   }
   
   .footer-content a:hover {
       color: #0e3746;
       text-decoration: none;
       /* border-radius: 0px 18px;
    transition: all 1.5s eases; */
   }
   
   .holder {
       box-shadow: 3px 5px 9px 0px #00000075!important;
   }
   /* .holder:hover {
    background-color: #0eb4c5!important;
    cursor: pointer;
    transition: all 0.3s ease;
  } */
   
   .footer {
       border: 0px solid black;
       color: #fff;
       background-image: linear-gradient(to right, #235fcd, #1c4ca3);
   }
   
   #footer_row {
       padding-right: 30px;
       height: 193px;
       border: 0px solid red;
       padding-top: 20px;
       padding-left: 30px;
       /* display: flex;
    justify-content: space-between; */
   }
   
   #footer_row h5 {
       padding: 10px;
       background: #1649a2;
       text-align: center;
       color: #fff;
       border-radius: 0px 18px;
   }
   
   #footer_row p {
       font-size: 0.7rem;
   }
   
   #footer_row a {
       text-decoration: none;
   }
   
   #footer_row a:hover {
       text-decoration: underline;
   }
   
   .links {
       margin-right: 150px;
   }
   
   .lb {
       border-right: 1px solid #7089b5;
   }
   
   .news {
       width: 80%;
       margin: 3% 10%;
   }
   
   .news-head h2 {
       background: #f1f1f1;
       margin: 0px;
       margin-bottom: 20px;
       text-align: center;
       box-shadow: 1px 1px 10px -1px #9e9e9e;
       font-family: initial;
       padding: 10px;
   }
   /* inhouse card css */
   
   .info_box {
       border: 1px solid #ddd;
       padding: 20px;
       box-shadow: 0px 0px 10px 0px #c5c5c5;
       margin-bottom: 30px;
       border-radius: 10px;
   }
   
   .text {
       line-height: 2rem;
       text-align: justify;
       font-size: 18px;
   }